$primary-color: #1976D2;
$secondary-color: #424242;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 18px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-xxl: 32px;
$font-family-primary: 'Roboto', sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;